.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul-left-header__members
        Member：
        %li-member
        - @group.users.each do |user|
          = user.name
        %li-member
          
        %li-member
          
    .right-header
      .right-header__button
        = link_to "edit",edit_group_path(@group), class: "edit"

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

